{% extends "demo/base.html" %}
{% block content %}
<h2>Estado de Cuenta</h2>
<p><strong>Total Depositado:</strong> {{ total_apoderado }}</p>
<p><strong>Total Colectivo:</strong> {{ total_colectivo }}</p>
<table>
    <tr>
        <th>Fecha</th>
        <th>Curso</th>
        <th>Monto</th>
    </tr>
    {% for deposito in depositos %}
    <tr>
        <td>{{ deposito.fecha }}</td>
        <td>{{ deposito.curso.nombre }}</td>
        <td>{{ deposito.monto }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
